.selectCategories {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0px 2rem;
	@media (min-width: 48em){
		margin: 1rem 0px 3.75rem;
	}
}

.carousel {
	margin: 1rem 0px 2rem;

	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
	// для Chrome, Safari, Opera
	&::-webkit-scrollbar {
		display: none;
	}

	// Firefox
	scrollbar-width: none;
	// IE и Edge
	-ms-overflow-style: none;
}


