.tableRow {
	display: flex;
}

.titleRow {
	flex: 0 0 10rem;
	font-size: 0.8125rem;
	line-height: 1.3846;
	color: var(--text-minor-color);
}

.valueRow {
	flex-grow: 1;

	display: flex;
	font-size: 0.9375rem;
	line-height: 1.333;

	a {
		font-weight: 500;
		@media (any-hover: hover) {
			&:hover {
				color: var(--kp-main-color);
			}
		}

		&:focus {
			color: var(--kp-main-color);
		}
	}
}

.value {
	flex-grow: 1;
}
