.addToFoldersDropdown {
	height: 3rem;
	width: 100%;
	padding: 0 1.5rem;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.afterSlot {
	padding: 0.5rem 1.25rem 0.9375rem;
}

.backdrop {
	width: 100%;
	padding: 0.5rem 0;
	border-radius: 0.75rem;
	top: calc(100% + 0.5rem);
}

.allFolders {
	height: 2.5em;
	padding: 0 1.25rem;
	width: 100%;
}