.headerTitle {
	display: flex;
	column-gap: 1.25rem;
}

.headerNamespace {
	flex-grow: 1;
}

.ratingBlockTitle {
	flex: 0 0 12.5rem;
}

.btnsContainer {
	display: flex;
	column-gap: 0.5rem;
}

.watchingServicesCnt {
	margin-top: 1.5625rem;
}

.ratingPicker {
	margin-top: 0.75rem;
	width: 100%;
}

.watchBtn {
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}