.categoryItem {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: transparent;
	transition: background-color 0.15s ease-out;
	outline: none;

	@media (any-hover: hover) {
		&:hover {
			transition: background-color 0.15s ease-out;
			background-color: var(--button-default-color);
		}
	}
	
	&:focus, &:active {
		transition: background-color 0.15s ease-out;
		background-color: var(--button-default-color);
	}
}

.categoryItemFull {
	padding: 1rem;
	border-radius: 1rem;
}

.image {
	flex: 0 0 5.5rem;
	width: 5.5rem;
	height: 5.5rem;
}

.meta {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-width: 36.25rem;
	margin-left: 1rem;
	line-height: 1.2;

	font-size: 0.9375rem;
	font-weight: 600;
	color: #000;
}

.metaFull {
	margin-left: 1.5rem;
}

.name {
	font-size: 1.25rem;
}

.filmsCount {
	margin-top: 0.4em;
	font-size: 1em;
	font-weight: 400;
	color: var(--text-minor-color);
}