.voitingBar {
	position: absolute;
	top: 0;
	right: 0;

	display: flex;

	font-size: 1.25rem;
	font-weight: 600;
	padding: 0.25rem 1rem;

	background-color: var(--button-default-color-without-opacity);
	border-radius: 2rem;
}

.iconStar {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.25rem;
	opacity: 0.2;
}

.button {
	flex: 0 0 1.75rem;
	width: 1.75rem;
	height: 1.5rem;
	text-align: center;

	opacity: 0.2;
	outline: none;
	transition: all 0.2s ease;
}

@mixin rating-styles($color) {
	& {
		@media (any-hover: hover) {
			&:hover {
				color: var(--#{$color}-rating-color);
				opacity: 1;
				transform: scale(1.2);
			}
		}

		&:focus {
			color: var(--#{$color}-rating-color);
			opacity: 1;
			transform: scale(1.2);
		}
	}
}

.default {
	@include rating-styles(default);
}

.positive {
	@include rating-styles(positive);
}

.negative {
	@include rating-styles(negative);
}
