.searchContainer {
	display: flex;
	align-items: center;
}

.searchContainerActive {
	background-color: #444;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100vw;
	height: var(--header-height-mobile);
	padding: 0 var(--container-padding-mobile);
}

.button {
	width: var(--header-icons-size);
	height: var(--header-icons-size);
}

.closeIcon {
	fill: rgba(255, 255, 255, 0.6);
}
