.itemBtn {
	// * эта кринжатина здесь из-за проблемы с дублированием стилей в layout.css и page.css
	white-space: normal !important;
	line-height: 1.333 !important;
	padding-top: 0.625rem !important;
	padding-bottom: 0.625rem !important;
}

.icon {
	flex: 0 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;

	fill: var(--kp-main-color);
}
