.itemBtn {
	width: 100%;
	white-space: normal !important;
	padding: 0.667em 1.333em;
	column-gap: 0.267em;
}

.icon {
	flex: 0 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;

	fill: var(--kp-main-color);
}
