.button {
	position: absolute;
	top: 50%;

	box-shadow:
		0 0.25rem 0.36rem 0 rgba(0, 0, 0, 0.05),
		0 0.0625rem 0 0.0625rem rgba(0, 0, 0, 0.05),
		0 0 0 0.0625rem rgba(0, 0, 0, 0.05);
	border-radius: 100%;
	background-color: #fff;

	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.15s ease,
		visibility 0.15s ease,
		transform 0.15s ease;
	transition:
		transform 0.3s ease,
		fill 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			.icon {
				fill: #000;
			}
		}
	}
}

.buttonLeft {
	left: 0;
	transform: translate(-50%, -50%) rotate(180deg);

	@media (any-hover: hover) {
		&:hover {
			transform: translate(-60%, -50%) rotate(180deg);
		}
	}
}

.buttonRight {
	right: 0;
	transform: translate(50%, -50%);

	@media (any-hover: hover) {
		&:hover {
			transform: translate(60%, -50%);
		}
	}
}

.icon {
	fill: #666;
	width: 0.5rem;
	height: 0.86rem;
}
