.userItems {
	display: flex;
	column-gap: 0.25rem;
}

.column {
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.plannedToWatch {
	svg {
		width: 1rem;
		height: 1rem;
	}
	
	@media (max-width: 80em) {
		width: 2rem;
		border-radius: 50%;
		padding: 0;
		span {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			overflow: hidden;
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			border: 0;
			padding: 0;
		}
	}
	
}

.plannedToWatchSmall {
	svg {
		width: 1.25rem;
		height: 1.25rem;
	}
	opacity: 0.6;
	transition: opacity 0.2s ease;

	@media (any-hover: hover) {
		&:hover {
			opacity: 1;
		}
	}

	&:focus,
	&:active {
		opacity: 1;
	}
}

.setRating,
.moreOption {
	font-size: 0.8125rem;
	height: 2rem;
	width: 2rem;
}
