.category {
	color: var(--text-minor-color);
	padding: 0.733em 1.333em;
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 1.2;
	white-space: nowrap;
	transition: color 0.1s ease-out;

	@media (any-hover: hover) {
		&:hover {
			color: rgb(0 0 0 / 100%);
		}
	}

	&:focus,
	&:active {
		outline: 0.125rem solid black;
		outline-offset: -0.125rem;
		border-radius: 0.5rem;
	}
}

.active {
	color: #000;
	border-radius: 0.5rem;
	background-color: var(--button-default-color);
}
