.select {
	font-size: 0.9375rem;
}

.selectHead {
	// width: 100%;
	padding: 0 1rem;

	// height: 2.5rem;
}

.selectLabel {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.arrowSelect {
	flex: 0 0 1rem;
	width: 1rem;
	height: 1rem;
}

.arrowOpen {
	transform: rotate(180deg);
}

.selectWrapper {
	width: max(100%, 12.5rem);

	// width: 100%;
	// min-width: 12.5rem;
	border-radius: 0.533em;
	padding: 0.8em 0;
}

.selectDropdownBelow {
	top: calc(100% + 1rem);
}

.selectDropdownAbove {
	bottom: calc(100% + 1rem);
}

.selectDropdownHidden {
	visibility: hidden;
}

.selectDropdown {
	display: flex;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	flex-direction: column;
	max-height: 15rem;
}
