.descriptionCategory {
	gap: 1.5rem;
	display: flex;
	margin-bottom: 1rem;
	padding: 0;
	@media (width >= 48em) {
		gap: 3.75rem;
		margin-bottom: 2.5rem;
		padding: 0 var(--padding-hor-list-item);
	}
}

.column {
	margin-top: 2.5rem;
	flex-direction: column-reverse;
	align-items: center;
}

.categoryTitle {
	margin-bottom: 1rem;
	@media (width >= 48em) {
		margin-bottom: 1.25rem;
	}
}

.center {
	text-align: center;
}

.description {
	width: 100%;
	flex-grow: 1;
}

.text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.375;
	color: #000;
}

.image {
	flex: 0 0 10rem;
	width: 10rem;
	height: 10rem;
	filter: drop-shadow(0 1rem 2rem rgb(0 0 0 / 15%));
}
