.detailsItem {
	&:not(:last-child) {
		margin-bottom: 0.533em;
	}
	&[open] .icon {
		transform: rotate(0deg);
	}
}

.heading {
	padding: 1.067em 0 0.8em;
	cursor: pointer;

	display: flex;
	column-gap: 0.933em;
	align-items: center;
	line-height: 1.2;
	font-weight: 500;

	&::-webkit-details-marker {
		display: none;
	}

	&:focus {
		outline: 0.125rem solid black;
		outline-offset: -0.125rem;
		border-radius: 0.5rem;
	}

	&:active {
		outline: none;
	}
}

.icon {
	transform: rotate(180deg);
	width: 1rem;
	height: 1rem;
}
