.title {
	color: #222;
	font-weight: 700;
}

.small {
	font-size: 1.125rem;

	@media (min-width: 48em) {
		font-size: 0.9375rem;
		font-weight: 600;
		line-height: 1.3333;
	}
}

.medium {
	font-size: 1.125rem;
	line-height: 1.333333;

	@media (min-width: 48em) {
		font-weight: 600;
		font-size: 1.375rem;
		line-height: 1.272727;
	}
}

.large {
	font-size: 1.5rem;
	line-height: 1.666667;

	@media (min-width: 48em) {
		font-size: 2rem;
		line-height: 1.25;
	}
}

.xl {
	font-size: 1.5rem;
	line-height: 1.666667;

	@media (min-width: 48em) {
		font-size: 2.5rem;
		line-height: 1.2;
	}
}
