.dropdown {
	visibility: hidden;
	position: absolute;

	background-color: var(--backdrop-background-color);
}

.desktop {
	top: 0;
	padding: var(--header-dropdown-padding);
	box-shadow: var(--box-shadow-header-items);
	border-radius: 0 0 16px 16px;
	width: calc(100% + 2 * var(--header-dropdown-padding));
}

.touch {
	position: fixed;
	top: var(--header-height-mobile);
	padding: var(--header-dropdown-padding);
	border-top: 0.1px solid rgb(255 255 255 / 20%);
	left: 0;
	width: 100vw;
	height: calc(100dvh - var(--header-height-mobile));
}

.dropdownActive {
	visibility: visible;
}
