.buttonsContainer {
	display: flex;
	flex-direction: column;
}

.iconButton {
	flex: 0 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.list {
	.iconButton {
		opacity: 0.4;
	}
}

.modal {
	font-size: 0.9375rem;
	padding: 0 0.5rem;
	margin: 0 1rem;
	justify-content: flex-end;
}

// * пока хз, нужно ли эта штука здесь
.textButton {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
