.buttonsContainer {
	display: flex;
	flex-direction: column;
}

.button {
	font-size: 0.9375rem;
}

.modal {
	min-height: 2.5rem;
	padding: 0 1.25rem;
	.iconButton {
		opacity: 0.4;
	}
}

.modalFull {
	height: 4rem;
	margin: 0 1rem;

	justify-content: flex-end;
	flex-direction: row-reverse;
}

// * пока хз, нужно ли эта штука здесь
.textButton {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.iconButton {
	flex: 0 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
}
