.wrapper {
	display: flex;
	flex-direction: column;

	overflow-y: auto;
	overscroll-behavior-y: contain;
	scrollbar-width: thin;
	max-height: 15.75rem;
}

.button {
	// * пока хз, нужно ли это здесь
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
