.suggestItem {
	padding: 0.625rem 1rem;
	display: flex;
	column-gap: 0.875rem;
}

.link {
	outline: none;
	@media (any-hover: hover) {
		&:hover {
			.suggestItem {
				transition: background-color 0.15s ease-out;
				background-color: rgb(0 0 0 / 3%);
			}
		}
	}

	&:focus {
		.suggestItem {
			transition: background-color 0.15s ease-out;
			background-color: rgb(0 0 0 / 3%);
		}
	}
}

.image {
	flex: 0 0 2rem;
	width: 2rem;
	height: 3rem;
}

.text {
	flex-grow: 1;
}

.title {
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 1.33;
	color: #000;
}

.description {
	font-size: 0.8125rem;
	margin-top: 0.1538em;
	line-height: 1.3846;
	color: var(--text-minor-color);
}

.rating {
	display: inline-block;
	margin-right: 0.25rem;
}

.nameplate {
	font-size: 0.75rem;
}
