.titleHeader {
	margin-bottom: 0.5625rem;
}

.restrictionDescription {
	display: none;
	opacity: 0.4;
	word-wrap: break-word;
}

.restrictionLink {
	display: flex;
	column-gap: 0.5rem;

	&:hover {
		.restrictionDescription {
			color: var(--text-minor-color);
			display: block;
		}
	}
}

.highContrast {
	align-self: flex-start;
	padding: 0.1875rem 0.25rem;
	color: rgb(51 51 51 / 90%);
	border: 0.0625rem solid rgb(51 51 51 / 90%);

	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 1;
}
