.header {
	display: flex;
	column-gap: 1rem;
	align-items: center;
}

.image {
	flex: 0 0 4rem;
}

.info {
	margin-bottom: 0.375rem;
}

.title,
.headerTitle {
	font-size: 1.125rem;
	font-weight: 600;
}

.title {
	line-height: 1.222;
	margin-bottom: 0.375rem;
	color: #000;
}

.secondaryTitle {
	font-size: 0.8125rem;
	line-height: 1.231;
	color: var(--text-minor-color);
}

.headerTitle {
	line-height: 1.27;
	color: #222;
}
