.setRatingButtons {
	display: flex;
	justify-content: space-between;
	column-gap: 0.9375rem;
	padding: 1.25rem 0.9375rem;
	border-top: 0.0625rem solid #eaebec;
}

.button {
	height: 3rem;
	flex-grow: 1;
}
